body {
    background-color: #f8f9fa;
}
.clock-container {
    background: linear-gradient(135deg, #809bad, #d7d7d8);
    color: rgb(173, 113, 113);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
}
h1 {
    font-family: 'Courier New', monospace;
    font-size: 3rem;
}